nav {
    background-color: #00296b;
    
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
}